/vendor/
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
*.log
.php_cs.cache
.php-cs-fixer.cache
composer.lock
.phpstorm.meta.php
_ide_helper.php
.phpunit.cache/
node_modules/
.php-cs-fixer.php